<h2>SPA Web Client</h2>

<div>

    <dl data-bind="with:user">
        <dt>User ID</dt>
        <dd data-bind="text:Id"></dd>
        <dt>Token</dt>
        <dd><code data-bind="text:Token"></code></dd>
        <dt>First name</dt>
        <dd data-bind="text:GivenName"></dd>
        <dt>Last name</dt>
        <dd data-bind="text:FamilyName"></dd>
        <dd data-bind="text:TokenRenewalTime"></dd>
        <dt>Token expiration time</dt>
        <dd data-bind="text:TokenExpirationTime"></dd>
        <dt>ROLES</dt>
        <span data-bind="foreach:Roles">
            <dd data-bind="text:$data"></dd>
        </span>
    </dl>

    <button data-bind="click:getClientSpaProtectedApiDataAsync"> Get Client.SPA API protected data </button>
</div>
